mixin _addForm
        form(class="inputForms" id="addForm" style="display:none")
            input(
                type="text"
                name="title"
                placeholder="title"
            )
            input(
                type="text"
                name="author_firstName"
                placeholder="author's firstname"
            )
            input(
                type="text"
                name="author_lastName"
                placeholder="author's lastname"
            )
            input(
                type="text"
                name="language"
                placeholder="language"
            )
            input(
                type="submit"
                value= "add"
                name="add"
            )
