mixin _pagination
    //- pagination object can be used here to determine: number of 
    form(
        id="paginationBox"
        action="/book/page"
        method="GET"
        )
        - for (var x = 1; x <= pagination.totalPages; x++)
            input(
                class="pageBtn"
                type="submit"
                value= x 
                name= "page"
            )