html
    include mixins/_table
    include mixins/_navbar
    head 
        title My Books 
        style   
            include ./CSS/styles.css 
        script 
            include ../JS/index.js
    body
        +_navbar()
        h1 My Books
        p= "Welcome " + currentUser
        h2 View all books by:
        form(
            id="btnBox"
            action="/book/getAllBooks/sort"
            method="GET"
        )
            input(
                type="submit"
                value="title"
                name="sort"
            )
            input(
                type="submit"
                value="author"
                name= "sort"
            )
            input(
                type="submit"
                value="language"
                name="sort"
            )
            input(
                type="submit"
                value="status"
                name="sort"
            ) 
    div(id="root")   
        +_table()