mixin _deleteForm
        form(
            class="inputForms" 
            id="deleteForm" 
            style="display:none"
            action="/book/delete"
            method="POST"
            )
            input(
                type="text"
                name="title"
                placeholder="Delete by title"
            )
            input(
                type= "submit"
                value= "delete"
            )
